[submodule "2-2/Embed-Sys-Lab/FinalProject"]
	path = 2-2/Embed-Sys-Lab/FinalProject
	url = https://github.com/punyaphatsura/embed-sys-lab-final.git
[submodule "2-1/Prog-Meth/FinalProject"]
	path = 2-1/Prog-Meth/FinalProject
	url = https://github.com/punyaphatsura/The_Farmer_and_The_Viper.git
[submodule "3-1/Hardware-Syn-Lab/FinalProject"]
	path = 3-1/Hardware-Syn-Lab/FinalProject
	url = https://github.com/punyaphatsura/HW_Syn_Lab_Pong.git
[submodule "3-2/Data-Sci/FinalProject"]
	path = 3-2/Data-Sci/FinalProject
	url = https://github.com/punyaphatsura/paper-reference-graph.git
[submodule "3-2/Network/FinalProject"]
	path = 3-2/Network/FinalProject
	url = https://github.com/punyaphatsura/network-project.git
[submodule "3-2/SW-Dev-Prac-I/FinalProject/SW-Dev-I-Project-Backend"]
	path = 3-2/SW-Dev-Prac-I/FinalProject/SW-Dev-I-Project-Backend
	url = https://github.com/punyaphatsura/SW-Dev-I-Project-Backend.git
[submodule "3-2/SW-Dev-Prac-I/FinalProject/SW-Dev-I-Project-Frontend"]
	path = 3-2/SW-Dev-Prac-I/FinalProject/SW-Dev-I-Project-Frontend
	url = https://github.com/punyaphatsura/SW-Dev-I-Project-Frontend.git
